<ion-header>
  <ion-navbar color="ridinghood">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Elite Schedule</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>Team Rooster</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card  *ngIf="!favourites">
    <ion-card-header>No Teams Followed</ion-card-header>
    <ion-card-content>
      <p>You have not followed any teams</p>
      <button ion-button  block round  (click)="goToTournaments()">Find a Tournament </button>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="favourites">
    <ion-card-header>Followed Teams</ion-card-header>
    <ion-card-content>
      <ion-list>
          <button ion-item *ngFor="let item of favourites">
              <ion-icon name="star" color="ridinghood"></ion-icon>
              {{item.team.name}}
              <p>{{item.tournamentName}}</p>
          </button>
      </ion-list>

      <ion-buttons>
          <button ion-button  block round  (click)="goToTournaments()">
            <ion-icon name="search"></ion-icon>&nbsp;Find a Tournament </button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>



</ion-content>
